@import 'normalize.css';

html {
	font-weight: 300;
}

body {
	font-family: Inter, monospace, arial;
	font-size: 18px;
	scrollbar-gutter: stable both-edges;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

div.over-footer {
	flex: 1;
}

a {
	color: inherit;
	text-decoration: none;
}
